h1 Login Page

form#registerForm
      .formfield
        .input.form-control Username:
        | &#x9;&#x9;&#x9;&#x9;
        input#username(type='text', name='username')

      .formfield
        .formfield--prompt Password:
        | &#x9;&#x9;&#x9;
        input#password(type='password', name='password')
      | &#x9;&#x9;&#x9;
      input.submitButton(type='submit')
